<!DOCTYPE html >
<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"> </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-sanitize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styleSheet/style.css">
    <title>
         mycommerce
     </title>
     
    </head>
    <body>
        <header>
            Mycommerce Application Login</h2>
        </header>
        <section>
            <div ng-app="indexApp" class="login" >
              <script src="/indexController.js"></script>  
                    <div ng-controller="indexController">
                        
                    </div>
                    <div ng-controller="userInfoController">
                            <article >
                             <h1>Appication Page</h1>
                                <table cellpadding="10" cellspacing="10"> 
                                     <tr><h1>User Details</h1></tr>                            
                                    <tr>
                                        <th>Customer Id</th>
                                        <th>Name</th>
                                        <th>Birth Date</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Phone Number</th>
                                        <th>Password</th>
                                        <th>Active</th>
                                        <th>Created at</th>
                                        <th>Updated at</th>                                       
                                    </tr>
                                    <tbody ng-repeat="a in userDetails">
                                    <tr>                                     
                                        <td>{{a.id}}:</td>
                                        <td><table>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Middle Name</th>
                                                <th>Last Name</th>
                                            </tr>
                                            
                                                <td>{{a.name.firstName}}</td>
                                                <td>{{a.name.middleName}}</td>
                                                <td>{{a.name.lastName}}</td>
                                            </table>
                                        </td>
                                        <td>{{a.birthDate}}</td>
                                        <td>{{a.email}}</td>
                                        <td>
                                            <table cellpadding="10" cellspacing="10" >
                                            <tr>
                                                <th>Addressline1</th>
                                                <th>Addressline2</th>
                                                <th>City</th>
                                                <th>State</th>
                                                <th>Country</th>
                                                <th>Zip Code</th>                                      
                                                <th>Longitude</th>
                                                <th>Latitude</th>
                                            </tr>
                                            
                                                <td>{{a.address.addressline1}}</td>
                                                <td>{{a.address.addressline2}}</td>
                                                <td>{{a.address.city}}</td>
                                                <td>{{a.address.state}}</td>
                                                <td>{{a.address.country}}</td>
                                                <td>{{a.address.zipCode}}</td>
                                                <td>{{a.address.longitude}}</td>
                                                <td>{{a.address.latitude}}</td>
                
                                            </table>
                                        </td>
                                        <td>{{a.phoneNumber}}</td>
                                        <td>{{a.password}}</td>
                                        <td>{{a.active}}</td>
                                        <td>{{a.createdAt}}</td>
                                        <td>{{a.updatedAt}}</td>
                                         
                                           
                                        
                                    </tr>  
                                 </tbody>  
                                 </table>                                                                                                                  
                            </div>
                           </article>
                    </div>
                </div>
                 
             
         </section>                                                                
            <footer>
                <p>@copyright-Dithok Technologies</p>
            </footer>
    </body>

</html>