<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"> </script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-sanitize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/styleSheet/allDetailDisplay.css">
        <title>
             mycommerce
         </title>
</head>
<body >
    <header>
        MyCommerce  Application : Setting page 
    </header>
    <div ng-app="settingApp">
    <script src="settingController.js"></script>
        <div ng-controller="settingController">
            <section>
                <nav>
                    <input type="text" placeholder="Search" ng-model=parameter>
                    <button type="submit" ng-click="searchItem(parameter)">Search</button>
        
                </nav>
                <article>
                    <h2 style="color: aqua;">Change Session Timeout limit</h2>
                    
                        <form style="color: aqua;">
                            <label for="timeOut">Enter time in minute for maximum inactive session:</label>
                            <input type="number" id="timeOut" ng-model="timeOutMinute" name="timeOut" min="1" max="1000">
                            <input type="button" ng-click="setSessionTimeout(timeOutMinute)" value="Set">
                        </form>
                        <pre>
                            
                            <h1 style="color: aqua;">{{responseMessage}}  {{responseTime}}  </h1>
                            <h1 style="color:white;">{{msg}}</h1>

                        </pre>
                        
                </article>
            </section>
        </div>
        
    </div>
    
    <footer>
        <p>@copyright-Dithok Technologies</p>
    </footer>
    
</body>
</html>